<% include ../partials/header %>
    <div class="container">
        <header class="jumbotron">
            <h1><span class="glyphicon glyphicon-tent" aria-hidden="true"></span> Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-lg btn-primary">Add New Campground</a>
            </p>
        </header>
        <div class="row text-center">
            <% campgrounds.forEach(function(campground) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= campground.imageURL %>">
                        <div class="caption text-left">
                            <h4><a href="<%= "/campgrounds/" + campground._id %>"><%= campground.name %></a></h4>
                            <div class="comment-header">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <p><%= campground.description.substring(0,100) + "..." %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
<% include ../partials/footer %>