<% include ../partials/header %>
    <div class="container">
        <h1 class="center-text">Create a New Campground</h1>
        <div class="div-fixed-small">
            <form action="/campgrounds" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="campground[name]" placeholder="name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="campground[imageURL]" placeholder="image url">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="campground[description]" placeholder="description">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>