h1 {
    font-weight: bold;
}

.comment-header {
    padding-top: 10px;
}

.float-right {
    float: right;
}

.center-text {
    text-align: center;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.div-fixed-small {
    margin: 25px auto;
    width: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.comment-review {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.glyphicon.glyphicon-tent {
    top: 6px;
}

.glyphicon.glyphicon-comment {
    top: 6px;
}

.glyphicon.glyphicon-star-empty {
    color: rgb(255, 191, 0);
}

.glyphicon.glyphicon-star {
    color: rgb(255, 191, 0);
}

.well h1 {
    margin-top: 0px;
}

#add-comment-btn {
    margin-top: 4px;
}

#delete-form {
    display: inline;
}

#delete-comment {
    display: inline;
}