h1 {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.div-fixed-small {
    margin: 25px auto;
    width: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.glyphicon.glyphicon-tent {
    top: 6px;
}

#delete-form {
    display: inline;
}